<div class="container">
  <div class="row">
    <div class="col">
      <div class="card" style="margin-top: 20px; margin-bottom: 20px; margin-left: 20px; margin-right: 20px">
        <div class="card-body">
          <h2 class="card-title">About you</h2>
          <br>
          <!--Input fields-->
          <small>* required</small>
          <div class="md-form">
            <i class="fa fa-user prefix "></i>
            <input type="text" id="clientName" class="form-control" mdbActive mdbInputValidate>
            <label class="active" for="clientName">
              Your name/company name *
            </label>
            <small class=" text-success" id="successName"></small>
            <small class=" text-danger" id="errorName"></small>
          </div>
          <div class="md-form">
            <i class="fa fa-envelope prefix "></i>
            <input type="email" id="clientEmail" class="form-control" mdbActive>
            <label for="clientEmail">
              Your email *
            </label>
            <small class="text-danger text-success" id="errorEmail"></small>
          </div>
          <div class="md-form">
            <i class="fa fa-tag prefix "></i>
            <input type="url" id="clientWebsite" class="form-control" mdbActive mdbInputValidate>
            <label for="clientWebsite">
              Your website
            </label>
            <small class="text-danger text-success" id=""></small>
          </div>
          <div class="md-form">
            <i class="fa fa-user prefix "></i>
            <input type="text" id="aboutMe" class="form-control" mdbActive mdbInputValidate>
            <label class="active" for="aboutMe">How you heard about me*</label>
            <small class="text-danger text-success" id=""></small>
          </div>
          <!-- project description -->
          <br>
          <br>
          <h2 class="card-title">Your project</h2>
          <br>
          <div class="md-form">
            <i class="fa fa-envelope prefix "></i>
            <input type="number" id="clientBudget" class="form-control" mdbActive mdbInputValidate>
            <label for="clientBudget">
              Your budget quote(KSH) *
            </label>
            <small class="text-danger text-success" id=""></small>
          </div>
          <div class="md-form">
            <i class="fa fa-tag prefix "></i>
            <input type="text" id="clientDuration" class="form-control" mdbActive mdbInputValidate>
            <label for="clientDuration">Duration/completion date
            </label>
            <small class="text-danger text-success" id=""></small>
          </div>
          <div class="md-form">
            <i class="fa fa-pencil prefix "></i>
            <textarea placeholder="Enter a description of the project here. This will be kept cofidential" type="text" id="projectDescription" class="md-textarea form-control mdbActive mdbInputValidate" style="height: 100px"></textarea>
            <!-- <label for="projectDescription">Description *</label> -->
            <small class="text-danger text-success" id=""></small>
          </div>
          <div class="text-center">
            <!-- <input type="submit" value="Send" name="submit"> -->
            <button (click)="submitClicked()" class="btn pink waves-light" mdbRippleRadius>Send
              <i class="fa fa-paper-plane-o ml-1"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
