<div class="container">
  <div class="row">
    <div class="col-sm d-flex justify-content-center">

      <h1 class="h1-responsive">
        <b>ERROR 404</b>
      </h1>

    </div>
  </div>
  <div class="row">
    <div class="col-sm d-flex justify-content-center">

      <h2 class="h2-responsive">
        Sorry! The page you're looking for does not exist
      </h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm d-flex justify-content-center">

      <h4 class="h4-responsive">
        
        <br>
        This could have been caused by either of the following:
        <ol>
          <li>You have entered an address that is incorrect </li>
          <li>The page been moved to a new address</li>
        </ol>
        <br>
        If you clicked on an address on this website that directed you to this page reach out to me via any of the contacts below.
      </h4>
    </div>
  </div>

</div>
