<md-sidenav-container fullscreen>
  <div class="container">
    <div class="row" style="margin-top: 20px">
      <md-card>
        <md-card-title>Hello world!</md-card-title>
        <md-card-content>
          <h4 class="h4-responsive">You’ve stumbled upon the portfolio of <a class="name">Lewis Munyi</a>, a third year Computer Science student at
            the University of Nairobi and an occasional freelance developer.</h4>
          <p></p>
          <h4 class="h4-responsive">I am also a web developer with some experience in Python and Android development.</h4>
          <p></p>
          <h4 class="h4-responsive">I like playing console games and writing small scripts outside my school schedule and in my free time.</h4>
          <p></p>
          <h4 class="h4-responsive">Here you can view my résumé, a few of my projects, and some fun coding or game stuff I do in my free time.</h4>
          <p></p>
          <h4 class="h4-responsive">I'd love to chat about job opportunities, projects I’ve worked on, diversity in tech, memes, Rick & Morty or whatever
            is on your mind.</h4>
          <p></p>
          <h4 class="h4-responsive">Feel free to take a look around</h4>
          <p></p>
        </md-card-content>
      </md-card>
    </div>
    <div class="row">
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <div class="row" style="justify-content: center">
            <i class="fa fa-twitter fa-3x"></i>
          </div>
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Latest tweets</h4>
            <!--Text-->
            <p class="card-text">Latest tweet will come here.</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <div class="row" style="justify-content: center">
            <i class="fa fa-github fa-3x"></i>
          </div>
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Latest repositories</h4>
            <!--Text-->
            <p class="card-text">Latest repositories will come here.</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <div class="row" style="justify-content: center">
            <i class="fa fa-heart fa-3x"></i>
          </div>
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title">Hobbies</h4>
            <!--Text-->
            <p class="card-text">Latest repositories will come here.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</md-sidenav-container>
