.view {
  background: url("https://unsplash.it/768/1366?image=1074")no-repeat center center;
  /* https://unsplash.it/200/300?image=1074 */
  background-size: cover;
}

.navbar {
  background-color: transparent;
}

.top-nav-collapse {
  background-color: indigo;
}

@media only screen and (max-width: 768px) {
  .navbar {
    background-color: indigo;
  }
}

.header {
  background-color: #eee;
  height: 20%;
  width: 100%;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 0px;
  margin-bottom: 75px;
  /* background: url("https://static1.squarespace.com/static/544f974de4b0f6888278217c/t/556ac9bce4b0f75ba2d133d4/1433061825794/leonardo+da+vinci+profile") no-repeat; */
  background-size: cover;
}

.profile-pic {
  position: absolute;
  height: 200px;
  width: 200px;
  top: -50%;
  left: calc(40% - 30px);
  background-color: gray;
  border-radius: 7px;
  box-shadow: 5px 5px 25px -5px #777;
  /* background: url("https://www.sideshowtoy.com/wp-content/uploads/2015/04/902391-product-feature-990x600.jpg") 0% 50%; */
  background-size: cover;
}

.tile {
  border-radius: 0px;
}

.live-code {
  background-color: red;
}
