<md-sidenav-container fullscreen>
  <div class="container">
    <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
      <h1 class="h1-responsive d-flex justify-content-center"> <b>PROJECTS</b></h1>
      <br>
      <h2 class="h2-responsive d-flex justify-content-center">These are some of the projects I've done.</h2>
    </div>
    <div class="row">
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <img class="img-fluid skill-card" src="http://via.placeholder.com/200?text=uchaguzi">
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">Uchaguzi</h4>
            <!--Text-->
            <p class="card-text">A web application for conducting student elections in universities</p>
            <h5>
              <span class="badge pink">Laravel</span>
              <span class="badge pink">Materialize</span>
            </h5>
            <hr>
            <a href="#" class="black-text mt-1 d-flex flex-row-reverse">
              <h5 class="waves-effect p-2" mdbRippleRadius>
                Github
                <i class="fa fa-chevron-right"></i>
              </h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <img class="img-fluid skill-card" src="http://via.placeholder.com/200?text=blog">
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">Blog</h4>
            <!--Text-->
            <p class="card-text">This personal portfolio blog</p>
            <h5>
                <span class="badge pink">Angular 4(material)</span>
                <span class="badge pink">Md-bootstrap</span>
                <span class="badge pink">node mailer</span>
            </h5>
            <hr>
            <a href="https://github.com/lewis-munyi/lewis-munyi.github.io" target="_blank" class="black-text mt-1 d-flex flex-row-reverse">
              <h5 class="waves-effect p-2" mdbRippleRadius>
                Github
                <i class="fa fa-chevron-right"></i>
              </h5>
            </a>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <img class="img-fluid skill-card" src="http://via.placeholder.com/200?text=coming+soon" alt="Card image cap">
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">...</h4>
            <!--Text-->
            <p class="card-text">...</p>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <img class="img-fluid skill-card" src="http://via.placeholder.com/200?text=coming+soon" alt="Card image cap">
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">
              <i>...</i>
            </h4>
            <!--Text-->
            <p class="card-text">
              <i>..</i>
            </p>
            <hr>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
    <div class="row">
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <img class="img-fluid skill-card" src="http://via.placeholder.com/200?text=coming+soon" alt="Card image cap">
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">
              <i>...</i>
            </h4>
            <!--Text-->
            <p class="card-text">...</p>
            <hr>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
      </div>
    </div>
  </div>
</md-sidenav-container>
