<header>
  <md-toolbar color="primary" class="main-header">
    <md-toolbar-row></md-toolbar-row>
    <md-toolbar-row style="justify-content: space-evenly; align-items: center ">
      <div fxFlex>
          <img src="assets/profile.jpg" class="mx-auto d-block img-fluid" style="max-width: 200px ;border-radius: 50%">
        <!-- <img src="https://unsplash.it/200" class="mx-auto d-block img-fluid" style="max-width: 80% ;border-radius: 50%"> -->
      </div>
    </md-toolbar-row>
    <md-toolbar-row></md-toolbar-row>
    <md-toolbar-row top style="justify-content: space-evenly; align-items: center ">
      <h1 class="h1-responsive"><strong>LEWIS MUNYI</strong></h1>
      <!-- <small class="text-muted">With faded secondary text</small>g          -->
    </md-toolbar-row>
  </md-toolbar>
</header>
<!-- <mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar" [containerInside]="false"> -->
<mdb-navbar SideClass="navbar fixed-top navbar-expand-lg navbar-dark indigo scrolling-navbar ">
  <links>
    <div class="navbar-nav d-flex justify-content-evenly">
      <a class="d-flex justify-content-evenly nav-item nav-link pink active waves-light" href="/" mdbRippleRadius>Home <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link waves-light" href="skills" mdbRippleRadius>Skills</a>
      <a class="nav-item nav-link waves-light" href="projects" mdbRippleRadius>Projects</a>
      <a class="nav-item nav-link waves-light" href="contact">Contact</a>
    </div>
  </links>
</mdb-navbar>

<body>
    <router-outlet></router-outlet>
</body>
<footer>
  <!--Footer-->
  <footer class="page-footer  indigo">
    <div class="row d-flex justify-content-center">
      <button md-raised-button md-icon-button class="mr-3" (click)="gotosite(1)" mdTooltip="LinkedIn" matTooltipPosition="above" color="accent"><i class="fa fa-linkedin fa-2x" aria-hidden="true"></i></button>
      <button md-raised-button md-icon-button class="mr-3" (click)="gotosite(2)" mdTooltip="Twitter" matTooltipPosition="above" color="accent"><i class="fa fa-twitter fa-2x" aria-hidden="true"></i></button>
      <button md-raised-button md-icon-button class="mr-3" (click)="gotosite(3)" mdTooltip="Github" matTooltipPosition="above" color="accent"><i class="fa fa-github fa-2x" aria-hidden="true"></i></button>
      <button md-raised-button md-icon-button class="mr-3" (click)="gotosite(4)" mdTooltip="Bitbucket" matTooltipPosition="above" color="accent"><i class="fa fa-bitbucket fa-2x" aria-hidden="true"></i></button>
      <button md-raised-button md-icon-button class="mr-3" (click)="gotosite(5)" mdTooltip="Telegram" matTooltipPosition="above" color="accent"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></button>
      <button md-raised-button md-icon-button class="mr-3" (click)="gotosite(6)" mdTooltip="Email" matTooltipPosition="above" color="accent"><i class="fa fa-envelope fa-2x" aria-hidden="true"></i></button>
      <!-- <button md-raised-button md-icon-button class="mr-3" (click)="gotosite(7)" mdTooltip="Google Plus" matTooltipPosition="above" color="accent"><i class="fa fa-google-plus fa-2x" aria-hidden="true"></i></button> -->
      <!-- <button md-raised-button md-icon-button class="mr-3" (click)= "gotosite(8)" mdTooltip="Skype" matTooltipPosition="above" color="accent"><i class="fa fa-skype fa-2x" aria-hidden="true"></i></button> -->
      <!-- <button md-raised-button md-icon-button class="mr-3" (click)="gotosite(9)" mdTooltip="Quora" matTooltipPosition="above" color="accent"><i class="fa fa-quora fa-2x" aria-hidden="true"></i></button> -->
      <!-- <button md-raised-button md-icon-button class="mr-3" (click)="gotosite(10)" mdTooltip="Instagram" matTooltipPosition="above" color="accent"><i class="fa fa-instagram fa-2x" aria-hidden="true"></i></button> -->
      <!-- <button md-raised-button md-icon-button class="mr-3" (click)= "gotosite(11)" mdTooltip="Slack" matTooltipPosition="above" color="accent"><i class="fa fa-slack fa-2x" aria-hidden="true"></i></button> -->
    </div>
    <div class="row"></div>
    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">
        <span class="attribution">
             &copy; {{ today | date: 'yyyy' }}. An interactive portfolio blog by <a href="https://lewis-munyi.github.io">Lewis Munyi</a>. Code licensed under MIT.
           </span>
      </div>
    </div>
    <!--/.Copyright-->
  </footer>
  <!--/.Footer-->
  <div class="container">
    <a class="logo-font" routerLink="/"></a>
  </div>
</footer>
