<md-sidenav-container fullscreen>
  <div class="container">
    <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
      <h1 class="h1-responsive d-flex justify-content-center"> <b>SKILLS</b></h1>
      <br>
      <h2 class="h2-responsive d-flex justify-content-center">I am a web UX/UI designer and have worked with great web frameworks, some of which I have listed below. I also
            develop for the web in python using Flask micro-framework and also do machine learning in python.</h2>
    </div>
    <div class="row">
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <!--Card image-->
          <img class="img-fluid skill-card" src="assets/logos/angular.svg" alt="Card image cap">
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">Angular JS</h4>
            <!--Text-->
            <p class="card-text">This whole website has been made in Angular. Need I say more?</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <!--Card image-->
          <img class="img-fluid skill-card" src="assets/logos/python.png" alt="Card image cap">
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">Python</h4>
            <!--Text-->
            <p class="card-text">
              <b>Flask</b> web apps and machine learning algorithms in python. Simple scripts too </p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <!--Card image-->
          <img class="img-fluid skill-card" src="assets/logos/ubuntu.svg" alt="Card image cap">
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">Ubuntu</h4>
            <!--Text-->
            <p class="card-text">Bash terminal, server running and hosting and alot of linux commands</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <!--Card image-->
          <img class="img-fluid skill-card" src="assets/logos/laravel.svg" alt="Card image cap">
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">Larvel</h4>
            <!--Text-->
            <p class="card-text">An MVC framework intergrating Blade, symphony and eloquent for the best php web apps</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <!--Card image-->
          <img class="img-fluid skill-card" src="assets/logos/php.svg" alt="Card image cap">
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">PHP</h4>
            <!--Text-->
            <p class="card-text">PHP web server queries and database management.</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <!--Card image-->
          <img class="img-fluid skill-card" src="assets/logos/jquery.png" alt="Card image cap">
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">JQuery</h4>
            <!--Text-->
            <p class="card-text">A neat JS web frontend library for easier DOM manipulation </p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <!--Card image-->
          <img class="img-fluid skill-card" src="assets/logos/js.png" alt="Card image cap">
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">Javascript</h4>
            <!--Text-->
            <p class="card-text">Vanilla Js for simple DOM manipulation
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <!--Card image-->
          <img class="img-fluid skill-card" src="assets/logos/mysql.png" alt="Card image cap">
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">MySQL</h4>
            <!--Text-->
            <p class="card-text">Database management for SQL databases.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
        <div class="card">
          <!--Card image-->
          <img class="img-fluid skill-card" src="assets/logos/git.svg" alt="Card image cap">
          <!--Card content-->
          <div class="card-body">
            <!--Title-->
            <h4 class="card-title d-flex justify-content-center">Git</h4>
            <!--Text-->
            <p class="card-text">Git version control system for easiest collaboration, and sharing of projects.</p>
          </div>
        </div>
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
      </div>
      <div class="col-sm" style="margin-top: 20px; margin-bottom: 20px">
      </div>
    </div>
  </div>
</md-sidenav-container>
